@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --bg-img: url('/gradient.png')
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-img) no-repeat top;
  background-size: cover;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(241, 245, 249) rgb(55, 65, 81);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgb(241, 245, 249);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(55, 65, 81);
  border-radius: 14px;
  border: 1px solid rgb(129, 135, 146);
}